{% extends "layout.html" %}
{% block content %}
    <table>
        <tr>
            <th colspan="6">VEHICLES</th>
        </tr>
        <tr>
            <th>Vehicle ID</th>
            <th>License Plate</th>
            <th>Weight</th>
            <th>Last Maintenance</th>
            <th>Mileage | Last Trip | Type</th>
            <th>Update</th>
        </tr>
            {% for vehicle in vehicles %}
            <tr>
                    <td>{{vehicle.id}}</td>
                    <td>{{vehicle.licensePlate}}</td>
                    <td>{{vehicle.weight}}</td>
                    <td>{{vehicle.maintenance}}</td>
                    <td>{{vehicle.mileage}}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock content %}