{% extends "layout.html" %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Drivers</title>
    </head>

<button type="button" class="btn btn-primary" href="{{ url_for('addDriver') }}">Add Driver</button>

<title>Drivers</title>
    <table style="align-items: center" method="POST">
        <tr>
            <th colspan="8">DRIVERS</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Vehicles Assigned</th>
            <th>Licenses</th>
            <th>Trip History</th>
            <th>Profile Pic</th>
            <th>Options</th>
        </tr>
            {%  for driver in drivers %}
            <tr>
                <td>
                    <a href="{{ url_for('driverprofile') }}?driver={{driver.name}}"><i class="fa fa-fw fa-user"></i>{{ driver.name }}</a>
                </td>
                <td>{{ driver.age }}</td>
                <td>{{ driver.salary }}</td>
                <td>{% for vehicle in driver.vehiclesAssigned %}
                    <a href=""><i class="fa fa-fw fa-user"></i> {{ vehicle }},</a>
                    {% endfor %}
                </td>
                <td>{{ driver.licenses }}</td>
                <td>{{ driver.tripHistory }}</td>
                <td>
                    <img class="rounded-circle account-img" src="{{ driverPic }}{{ driver.id }}.png">
                </td>
                <td>
                    <a href="{{ url_for('updatedriver') }}?driver={{driver.name}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Update Info</a>
                    <a href="{{ url_for('deletedriver') }}?driver={{driver.name}}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Delete Driver</a>
                </td>
            </tr>
            {% endfor %}
    </table>
{% endblock content %}