{% extends "layout.html" %}
{% block content %}
<div class="navbar">
  <a class="active" href="{{ url_for('logged') }}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#"><i class="fa fa-fw fa-search"></i> Vehicles</a>
  <a href="{{ url_for('drivers') }}"><i class="fa fa-fw fa-envelope"></i> Drivers</a>
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Mechanics</a>
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Deliveries</a>
  <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>
    <h1>Welcome back, {{user.username}}</h1>
{% endblock content %}