{% extends "layout.html" %}
{% block content %}
<br>
        <table style="align-items: center">
        <tr>
            <th colspan="8">Mechanics</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Role</th>
            <th>Vehicles Assigned</th>
            <th>Last Maintenance Performed</th>
            <th>Profile Pic</th>
            <th>Options</th>
        </tr>
            {%  for mechanic in mechanics %}
            <tr>
                <td>
                    <a href="{{ url_for('mechanicprofile') }}?mechanic={{mechanic.name}}"><i class="fa fa-fw fa-user"></i>{{ mechanic.name }}</a>
                </td>
                <td>{{ mechanic.age }}</td>
                <td>{{ mechanic.salary }}</td>
                <td>{{ mechanic.role }}</td>
                <td>{% for vehicle in mechanic.vehiclesAssigned %}
                    <a href=""><i class="fa fa-fw fa-user"></i> {{ vehicle }},</a>
                    {% endfor %}
                </td>
                <td>{{ mechanic.lastMaintenancePerformed }}</td>
                <td>
                    <img class="rounded-circle account-img" src="{{ mechanicPic }}{{ mechanic.id }}.png">
                </td>
                <td>
                    <a href="{{ url_for('updatemechanic') }}?mechanic={{mechanic.name}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Update info</a>
                    <a href="{{ url_for('deletemechanic') }}?mechanic={{mechanic.name}}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Delete Mechanic</a>
                </td>
            </tr>
            {% endfor %}
    </table>
<br>
    <a type="button" class="btn btn-primary" href="{{ url_for('addMechanic') }}">Register New Mechanic</a>

{% endblock content %}