{% extends "layout.html" %}
{% block content %}
    <a class="active" href="{{ url_for('addMechanic') }}"><i class="fa fa-fw fa-home"></i> Add Mechanic</a>
    <div class="navbar">
  <a class="active" href="{{ url_for('logged') }}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('vehicles') }}"><i class="fa fa-fw fa-search"></i> Vehicles</a>
  <a href="{{ url_for('drivers') }}"><i class="fa fa-fw fa-envelope"></i> Drivers</a>
    <a href="{{ url_for('mechanics') }}"><i class="fa fa-fw fa-envelope"></i> Mechanics</a>
      <a href="{{ url_for('parcels') }}"><i class="fa fa-fw fa-envelope"></i> Parcels</a>
  <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>
        <table style="align-items: center">
        <tr>
            <th colspan="8">Mechanics</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Role</th>
            <th>Vehicles Assigned</th>
            <th>Last Maintenance Performed</th>
            <th>Profile Pic</th>
            <th>Options</th>
        </tr>
            {%  for mechanic in mechanics %}
            <tr>
                <td>{{ mechanic.name }}</td>
                <td>{{ mechanic.age }}</td>
                <td>{{ mechanic.salary }}</td>
                <td>{{ mechanic.role }}</td>
                <td>{% for vehicle in mechanic.vehiclesAssigned %}
                    <a href=""><i class="fa fa-fw fa-user"></i> {{ vehicle }},</a>
                    {% endfor %}
                </td>
                <td>{{ mechanic.lastMaintenancePerformed }}</td>
                <td>
                    <img class="rounded-circle account-img" src="{{ mechanicPic }}{{ mechanic.id }}.png">
                </td>
                <td>
                    <a href="{{ url_for('updatemechanic') }}?mechanic={{mechanic.name}}"><i class="fa fa-fw fa-envelope"></i>Update info</a>
                </td>
            </tr>
            {% endfor %}
    </table>

{% endblock content %}