{% extends "layout.html" %}
{% block content %}
<br>
    <table style="align-items: center" class="table table-dark table-striped" method="POST">
        <tr>
            <th colspan="4">PARCELS</th>
        </tr>
        <tr>
            <th>Driver Assigned</th>
            <th>Origin</th>
            <th>Destiny</th>
            <th>Expected Arrive Date</th>
        </tr>
            {%  for parcel in parcels %}
            <tr>
                <td>{{ parcel.driver_id }}</td>
                <td>{{ parcel.origin }}</td>
                <td>{{ parcel.destiny }}</td>
                <td>{{ parcel.expectedArrDate }}</td>
            </tr>
            {% endfor %}
    </table>
<a type="button" class="btn btn-primary" href="{{ url_for('addParcels') }}">Add New Parcel</a>
{% endblock content %}