{% extends "layout.html" %}
{% block content %}
    <div class="navbar">
  <a class="active" href="{{ url_for('logged') }}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('vehicles') }}"><i class="fa fa-fw fa-search"></i> Vehicles</a>
  <a href="{{ url_for('drivers') }}"><i class="fa fa-fw fa-envelope"></i> Drivers</a>
    <a href="{{ url_for('mechanics') }}"><i class="fa fa-fw fa-envelope"></i> Mechanics</a>
      <a href="{{ url_for('parcels') }}"><i class="fa fa-fw fa-envelope"></i> Parcels</a>
  <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>
    <table style="align-items: center">
        <tr>
            <th colspan="4">PARCELS</th>
        </tr>
        <tr>
            <th>Driver Assigned</th>
            <th>Origin</th>
            <th>Destiny</th>
            <th>Expected Arrive Date</th>
        </tr>
            {%  for parcel in parcels %}
            <tr>
                <td>{{ parcel.driver_id }}</td>
                <td>{{ parcel.origin }}</td>
                <td>{{ parcel.destiny }}</td>
                <td>{{ parcel.expectedArrDate }}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock content %}