{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Editing {{vehicle.licensePlate}} Information</legend>
                <div class="form-group">
                    {{ form.lastMaintenance.label(class="form-control-label") }}
                    {{ form.lastMaintenance(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.extra.label(class="form-control-label") }}
                    {{ form.extra(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.driverName.label(class="form-control-label") }}
                    {{ form.driverName(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.mechanicName.label(class="form-control-label") }}
                    {{ form.mechanicName(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}