{% extends "layout.html" %}
{% block content %}
    <a href="{{ url_for('addVehicle') }}"><i class="fa fa-fw fa-search"></i> Add Vehicle</a>
    <div>
        <table style="align-items: center">
        <tr>
            <th colspan="9">Vehicles</th>
        </tr>
        <tr>
            <th>License Plate</th>
            <th>Assigned Driver ID</th>
            <th>Assigned Mechanic ID</th>
            <th>Type</th>
            <th>Year</th>
            <th>Weight</th>
            <th>Last Maintenance Performed</th>
            <th>Extra</th>
            <th>Image</th>
        </tr>
            {%  for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.licensePlate }}</td>
                <td>{{ vehicle.driverName }}</td>
                <td>{{ vehicle.mechanicName }}</td>
                <td>{{ vehicle.type }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.weight }}</td>
                <td>{{ vehicle.lastMaintenance }}</td>
                <td>{{ vehicle.extra }}</td>
                <td>{{ vehicle.image_file }}</td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock content %}